.App {
  text-align: center;
}

.slider-control-bottomcenter button {
  display: none;
}

.Home .slider-control-centerleft {
  left: 30px;
  position: absolute;
}
.Home .slider-control-centerright {
  right: 30px;
  position: absolute;
}
.CategorySlide button:disabled,
.CategorySlide button[disabled] {
  display: none;
}
